{% extends "web/layout.html" %} 
{% block main %}
<div class="card container mt-5 ">
    <div class="card-header text-center">
        <h5 class="card-title ">Acerca de nosotros</h5>
    </div>
    <div class="card-body">    
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda atque, incidunt officiis molestias magnam voluptas excepturi unde laudantium distinctio pariatur! Inventore saepe eum, nobis maxime voluptas molestias fuga et consectetur.</p>
  
    </div>
</div>

{% endblock %}

