{% extends "web/layout.html" %} 
{% block main %}

<div class="container">
  <div>{{producto.nombre}}</div>

  <div>{{producto.descripcion}}</div>

  <div>
    <img src="{{ media_url  }}{{producto.imagen.url}}" alt="" />
  </div>

  <div>$ {{producto.precio}}</div>
</div>
<div class="col d-flex justify-content-end">
  {% for group in user.groups.all %}
       {% if group.name == 'moderador' %}
            <a href="/editar_producto/{{ producto.id }}" class="btn btn-warning">Editar</a>
            <a href="/borrar_producto/{{ producto.id}}" class="btn btn-danger ms-3">Borrar</a>
       {% endif %}
  {% endfor %}
   <a href="#" class="btn btn-success ms-3">Agregar al Carrito</a>
</div>

{% endblock %}