{% extends "web/layout.html" %} {% block main %}

<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for producto in primeros_productos %}
    <div class="col">
      <div class="card shadow-sm">
        <a href="detalle_producto/{{producto.id}}">
          <img
            width="100%"
            src="{{ media_url  }}{{producto.imagen.url}}"
            alt=""
        /></a>

        <div class="card-body">
          <p class="card-text">{{ producto.nombre}} {{producto.color}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/detalle_producto/{{producto.id}}">
                <button type="button" class="btn btn-sm btn-primary">
                  Ver Detalle
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container-sm py-5">
  <h2 class="text-center mb-5 text-white">Más productos</h2>
  <div class="list-group">
    {% for productoU in ultimos_productos %}
    <a
      href="/detalle_producto/{{productoU.id}}"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ productoU.nombre }}</h5>
        <button type="button" class="btn btn-sm btn-outline-primary">
          Ver Detalle
        </button>
      </div>
      <p>
        <small class="text-left">{{ productoU.descripcion }}</small>
      </p>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
