{% extends "web/layout.html" %} 
{% block main %}
<div class="text-center mb-5 text-white">
    <p>Resultado de la busqueda: {{query}}</p>
    {% if articulo %}
        <p>Productos encontrados: {{articulo|length}} productos </p>

        <ul>
            {% for art in articulo %}
                <li>
                    
                    {{art.nombre}} &nbsp; {{art.color}} &nbsp; $ {{art.precio}} &nbsp;>
                    <a href="/detalle_producto/{{art.id}}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                          Ver Detalle
                        </button>
                      </a>
            {% endfor %}
        </ul>
    {% else %} 
        <p>No se encontro ningun producto</p>
    {% endif %}
</div>
{% endblock %}